<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des amitiés</title>
</head>
<body>
<div th:insert="~{common/header.html :: header}"></div>
<h2 th:text="'Amitiés de ' + ${person.firstName} + ' ' + ${person.lastName}"></h2>
<table>
    <tr>
        <th>Amis</th>
    </tr>
    <tr th:each="relationship : ${relations}">
        <td>
    <span th:if="${relationship.fromUser.id == person.id}"
          th:text="${relationship.toUser.firstName + ' ' + relationship.toUser.lastName + ' relation: ' + relationship.relationshipType}"></span>
            <span th:if="${relationship.fromUser.id != person.id}"
                  th:text="${relationship.fromUser.firstName + ' ' + relationship.fromUser.lastName + ' relation: ' + relationship.relationshipType}"></span>
        </td>
    </tr>
</table>
<a th:href="@{/relationships/new}">Ajouter une amitié</a>
</body>
</html>
